/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: #222;
}


ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

:root {
    /* Цвета */
    --color-primary: #FF3E79;
    --color-primary-text: #1B1C21;
    --color-secondary-text: #7E7E82;
    --color-active-marker: #41F6D7;
    --color-white: #FFFFFF;
    --color-shadow: rgba(0, 0, 0, 0.2);
    
    /* Размеры */
    --size-border-radius: 4px;
    --size-menu-width: 320px;
    --size-menu-height: 100%;
    
    /* Отступы */
    --gap-small: 5px;
    --gap-medium: 10px;
    --gap-large: 16px;
    --gap-xlarge: 24px;
    --gap-xxlarge: 32px;
    --gap-section: 40px;
    --gap-main: 46px;
    --gap-header-top: 18px;
    --gap-footer: 200px;
    
    /* Текст */
    --font-family: 'TTLakes', serif;
    --font-size-base: 16px;
    --font-size-large: 24px;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --line-height-base: 24px;
    --line-height-large: 32px;
    --letter-spacing-base: -0.2px;
    --letter-spacing-large: -0.6px;
    
    /* Анимации */
    --transition-speed: 0.2s ease;
}

/* Standard TT Lakes */
@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/TTLakes-Regular.eot);
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url(./fonts/TTLakes-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Regular.woff) format('woff'),
        url(./fonts/TTLakes-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/TTLakes-Medium.eot);
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url(./fonts/TTLakes-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Medium.woff) format('woff'),
        url(./fonts/TTLakes-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/TTLakes-Bold.eot);
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url(./fonts/TTLakes-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Bold.woff) format('woff'),
        url(./fonts/TTLakes-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Базовые стили меню */


.aside__burger {
    display: flex;
    flex-direction: column;
    gap: var(--gap-main);
}

/* Верхняя часть меню */
.burger__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--gap-header-top);
}

.burger__top-left,
.burger__top-right {
    display: flex;
    align-items: center;
    gap: var(--gap-large);
}

/* Навигационное меню */
.aside__nav-menu .nav__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxlarge);
}

.aside__nav-menu .nav__list .nav__list-item {
    color: var(--color-primary-text);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    text-decoration: none;
    transition: color var(--transition-speed);
}

.aside__nav-menu .nav__list .nav__list-item:hover {
    color: var(--color-secondary-text);
}

.aside__nav-menu .nav__list .nav__list-item.active {
    color: var(--color-secondary-text);
    position: relative;
}

.aside__nav-menu .nav__list .nav__list-item.active::before {
    content: "";
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 4px;
    background-color: var(--color-active-marker);
    border-radius: 0 var(--size-border-radius) var(--size-border-radius) 0;
}

/* Футер меню */
.footer__burger {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
}

.footer__burger-items {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.footer__burger-icons {
    display: flex;
    gap: var(--gap-large);
}

.footer__burger-contacts {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.footer__burger-contacts .burger__email,
.footer__burger-contacts .burger__phone {
    color: var(--color-primary-text);
    font-family: var(--font-family);
    text-decoration: none;
    transition: color var(--transition-speed);
}

.footer__burger-contacts .burger__email {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
}

.footer__burger-contacts .burger__phone {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-large);
    letter-spacing: var(--letter-spacing-large);
}

/* Языковой переключатель */
.menu__language {
    display: flex;
    gap: var(--gap-small);
}

.menu__language a {
    color: var(--color-primary-text);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    text-decoration: none;
}

.menu__language a.active {
    color: var(--color-secondary-text);
}
/**
 * Swiper 6.3.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2020 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 30, 2020
 */

@font-face{font-family:swiper-icons;src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format('woff');font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(-1 * var(--swiper-navigation-size)/ 2);z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important;letter-spacing:0;text-transform:none;font-variant:initial;line-height:1}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:'next'}.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white{--swiper-navigation-color:#ffffff}.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black{--swiper-navigation-color:#000000}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white{--swiper-pagination-color:#ffffff}.swiper-pagination-black{--swiper-pagination-color:#000000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;transform-origin:50%;animation:swiper-preloader-spin 1s infinite linear;box-sizing:border-box;border:4px solid var(--swiper-preloader-color,var(--swiper-theme-color));border-radius:50%;border-top-color:transparent}.swiper-lazy-preloader-white{--swiper-preloader-color:#fff}.swiper-lazy-preloader-black{--swiper-preloader-color:#000}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0px;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}
@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/TTLakes-Regular.eot);
    src: local('TTLakes Regular'), local('TTLakes-Regular'),
        url(./fonts/TTLakes-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Regular.woff) format('woff'),
        url(./fonts/TTLakes-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/TTLakes-Medium.eot);
    src: local('TTLakes Medium'), local('TTLakes-Medium'),
        url(./fonts/TTLakes-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Medium.woff) format('woff'),
        url(./fonts/TTLakes-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/TTLakes-Bold.eot);
    src: local('TTLakes Bold'), local('TTLakes-Bold'),
        url(./fonts/TTLakes-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Bold.woff) format('woff'),
        url(./fonts/TTLakes-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* CSS переменные */
:root {
    --divider: #EAEAEA;
    --accent: #41F6D7;
    --hover: #27AE60;
    --text-secondary: #666;
    --header-bg: #ffffff;
    --main-bg: rgb(248, 248, 248);
    --text-nav: rgb(126, 126, 130);
    --mine-text: rgb(27, 28, 33);
    --swiper-theme-color: rgb(126, 126, 130);
    --swiper-theme-color-active: rgb(126, 126, 130);
    --swiper-pagination-color: rgb(126, 126, 130);
}

/* Базовые стили */
HTML {

    background-color: var(--main-bg);
}


.hidden {
    display: none !important;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    transition: overflow 0.3s ease;
}

.aside__burger-menu {
    display: none;

}


.aside__burger-menu-on {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;

    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 360px;
    z-index: 999999;
    top: 0;
    padding: 25px;
    padding-top: 0;
}

.form {
    display: none;
}

.form--on {
    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: flex-start;
    position: absolute;
    padding-top: 25px;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 360px;
    z-index: 999999;
    top: 0;
    right: 0;
    padding: 25px;

}


.call {
    display: none;
}

.call--on {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    position: absolute;
    padding-top: 25px;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 360px;
    z-index: 999999;
    top: 0;
    right: 0;
    padding: 25px;

}



.form-container {
    width: 100%;
    max-width: 500px;


}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
}

.form-title {
    color: rgba(27, 28, 33, 1);

    font-family: 'TTLakes';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: left;
}

.submit-btn {
    align-self: flex-end;
}

.sloseBTN {
    align-items: flex-start;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-family: 'TTLakes';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}


.form-title::before {
    content: "";
    position: absolute;
    left: 0;
    height: 32px;
    border-left: 4px solid var(--accent);
    border-radius: 5px;
}

.form-control {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    font-family: 'TTLakes';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #333;
    transition: border-color 0.3s ease;
}

.form-control::placeholder {
    color: rgba(181, 182, 188, 1);
    font-family: 'TTLakes';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.form-control:focus {
    outline: none;
    border-color: rgba(181, 182, 188, 1);
}

textarea.form-control {
    min-height: 120px;
    resize: vertical;
}

.form__text {
    font-family: 'TTLakes';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #7E7E82;
}


.form__text_link {
    font-family: 'TTLakes';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF3E79;
}



/* Шапка */
.header {
    height: 88px;
    padding: 0;
    background-color: var(--header-bg);
    width: 100%;
    min-width: 280px;
    box-sizing: border-box;

}

.icon {
    width: 40px;
    height: 40px;
}

.header__logo {
    width: 97px;
    height: 51px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    margin-bottom: 0;


}

.conteiner__q {

    position: absolute;
    z-index: 99999;

    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.conteiner__w {

    position: absolute;
    z-index: 99999;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.conteiner__e {

    position: absolute;
    z-index: 99999;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__divider {
    width: 2px;
    height: 32px;
    background: var(--divider);
}

.header__nav-item--middle {
    display: none;

}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

}

.header__nav-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__nav-btn span {
    display: none;
}

/* Основное меню */
.srange-nav-wrapper--max {
    display: none;
}

.header-menu__wrapper {
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;

}

.header-menu__wrapper::-webkit-scrollbar {
    display: none;
}

.header-menu__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, #fff, transparent);
    pointer-events: none;
}

.header-menu__list {
    display: flex;
    gap: 32px;
    margin: 0;
    list-style: none;
    padding: 10px;
    justify-content: space-around;

}



.header-menu__link {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s;
    color: var(--text-nav);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;

}

.header-menu__link:hover {
    color: var(--hover);
}

.header-menu__list li:first-child .header-menu__link {
    border: 2px solid var(--accent);
    border-radius: 5px;
    background-color: var(--header-bg);
    padding: 8px 22px;
}

/* Основной контент */
.main {
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    font-size: 14px;
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
}

.main__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;


}

.main__title {
    font-family: 'TTLakes';
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 0px;
    padding-left: 14px;
    position: relative;
}

.main__title--min {
    font-family: 'TTLakes';
    font-size: 28px;
    font-weight: 700;
    color: var(--mine-text);
    padding-left: 14px;
    position: relative;
    border-left: 4px solid var(--accent);
    border-radius: 5px;
}

.main__title::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 4px solid var(--accent);
    border-radius: 5px;
}

.main__title-min::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 4px solid var(--accent);
    border-radius: 5px;
}

.main__text,
.main__text--secondary {
    color: var(--mine-text);
    font-family: 'TTLakes';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
}

.main__text--secondary {
    display: none;
}


.no__hidden {
    display: block;
    color: var(--mine-text);
    font-family: 'TTLakes';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
}

.main__readmore {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.next {
    color: var(--mine-text);
    font-family: 'TTLakes';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
}

.main__content {
    display: flex;
    gap: 36px;
    flex-direction: column;
    padding: 0 20px;
}

.main__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}

/*БРЕНДЫ*/
.brands--max {
    display: none;

}

.brands--midl {
    display: none;
}

.brands__list-wrapper {
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;
}

.brands__list {

    display: flex;
    gap: 16px;
}

.brands__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 72px;
    padding: 0 25px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


.brands__h2 {

    height: 56px;
    padding-left: 32px;
    background: linear-gradient(270deg, #F8F8F8, #FFFFFF 100%);

    font-size: 16px;
    font-weight: 400;
    font-family: "TTLakes";
    color: var(--text-nav);

}


/*СВАЙПЕР*/

.brands--min {
    overflow: hidden;
    width: 100%;
}

.brandsSwiper {
    max-width: 100vw;
    overflow: hidden;
}

.swiper-wrapper {
    box-sizing: border-box;
    width: 240px;
}



.swiper-pagination-container {
    position: absolute;
    width: 100%;
    max-width: 100vw;

}

.brands-section {
    position: relative;
    width: 100%;
    max-width: 1200px;
}


.brands-section__h2 {

    color: rgba(126, 126, 130, 1);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-transform: uppercase;

}

/* Контейнер Swiper */
.swiper {
    width: 100%;
    padding: 20px 25px 60px 25px;
    /* Отступ снизу для пагинации */
}





/* Карточка бренда */
.brands__card {
    width: 240px;
    height: 72px;



    transition: all 0.3s ease;
    display: flex;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
}

.brands__card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Логотип бренда */
.brands__card img:first-child {
    max-height: 32px;
    max-width: 120px;
    object-fit: contain;
}

/* Стрелка перехода */
.brands__card img:last-child {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.brands__card:hover img:last-child {
    opacity: 1;
}

/* Контейнер для пагинации */
.swiper-pagination-container {
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

/* Точки пагинации */
.swiper-pagination {

    bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #DDDDDD;
    opacity: 1;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 12px !important;
    height: 12px !important;
    background-color: rgba(181, 182, 188, 1);
    transform: scale(1.2);
}




/*Сервисы свайпер*/
.services--min {
    overflow: hidden;
    width: 100%;
}

.servicesSwiper {
    max-width: 100vw;
    overflow: hidden;
}

.services--midl {
    display: none;
}

.services--max {
    display: none;

}



.services__h2 {
    display: flex;
    height: 56px;
    padding-left: 32px;
    background: linear-gradient(270deg, #F8F8F8, #FFFFFF 100%);
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "TTLakes";
    color: var(--text-nav);
}





.services__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 240px;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}



.services__card_h3 {
    align-self: flex-start;
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
}

.services__card_go {
    align-self: flex-end;
    width: 18%;
}






/*Цены свайпер*/

.prices {
    display: none;
}

.prices--min {


    overflow: hidden;
    width: 100%;
}

.swiper.pricesSwiper {
    padding: 0;
    padding-bottom: 60px;
}

.prices__conteiner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 25px;

}

.prices__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricesSwiper {
    max-width: 100vw;
    overflow: hidden;
}



.prices__h2--min {
    padding-left: 25px;
    display: flex;
    height: 56px;

    background: linear-gradient(270deg, #F8F8F8, #FFFFFF 100%);
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "TTLakes";
    color: var(--text-nav);
}

.prices__h2 {
    display: flex;
    height: 56px;
    padding-left: 25px;
    background: linear-gradient(270deg, #F8F8F8, #FFFFFF 100%);
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "TTLakes";
    color: var(--text-nav);
}





.prices__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 260px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


.prices_h6 {
    text-align: left;


    color: #7e7e82;
    font-family: "TTLakes", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    opacity: 0.72;


}


.prices__text {


    text-align: left;
    color: rgba(27, 28, 33, 1);
    font-family: "TTLakes", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.prices__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Цены текст*/



.prices__footer_text {

    color: rgba(27, 28, 33, 1);

    font-family: TTLakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    width: 85%;

}

.offer {
    width: 65%;
}

.offer__text {
    color: rgba(27, 28, 33, 1);

    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
}

.offer__text::after {
    content: '';
    display: inline-block;
    width: 10px;
    /* Ширина картинки */
    height: 10px;
    /* Высота картинки */
    background-image: url(./img/strelka.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    /* Отступ от текста */
    vertical-align: middle;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    color: rgba(126, 126, 130, 1);

    font-family: TTLakes;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;


    padding: 0 25px;
    padding-bottom: 25px;
}

.politic {
    width: 214px;
}



@media (max-width: 768px) {
    .brands__list-wrapper {
        padding: 0 30px;
    }



    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}



/* Адаптив */
@media (min-width: 768px) {
    body {
        margin-right: 16px;
    }


    .closeBTN {
        position: relative;
        right: 100px;
    }

    .form-container {
        position: absolute;
        top: 25px;
    }

    .form-title::before {
        content: "";
        position: absolute;
        left: -25px;
        height: 32px;
        border-left: 4px solid var(--accent);
        border-radius: 5px;
    }

    .header__nav-item--desktop {
        display: none;

    }

    .main {
        gap: 24px;
    }

    .header__nav-item--middle {
        display: inline;
    }

    .header__container {
        margin: 24px;
        margin-bottom: 0;
    }

    .main__container {
        flex-direction: row;
        gap: 20px;
        width: -webkit-fill-available;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        gap: 14px;


    }

    .main__image-wrapper {
        flex: 1;
        max-width: 50%;
    }

    .main__text--secondary {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        position: relative;
        overflow-y: auto;
        scrollbar-width: none;
        color: var(--mine-text);
        font-weight: 400;
    }


    .main__text--secondary-show {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .brands--min {
        display: none;
    }

    .brands--max {
        display: none;
    }

    .brands--midl {
        display: block;

    }

    /*Бренды*/
    .main__readmore {

        height: 24px;
    }

    .brands__wrapper {
        padding: 25px;
    }


    .brands__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }

    .brands__h2 {

        display: flex;

        flex-direction: row;
        align-items: center;






    }

    .brands__container,
    .brands__container--bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        padding-bottom: 0;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .brands__container--bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        padding-top: 0;
        row-gap: 16px;



    }

    .brands__item {
        min-width: 240px;
        min-height: 72px;
    }

    .brands__card {
        width: 100%;
    }


    .brands__card:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        transform: translateY(-2px);
    }

    .brands__card img:first-child {
        max-height: 40px;
        max-width: 120px;
        object-fit: contain;
    }

    /*СЕРВИСЫ*/
    .services--min {
        display: none;
    }

    .services--max {
        display: none;
    }

    .services--midl {
        display: flex;
        flex-direction: column;

    }

    .services__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);


        column-gap: 35px;

    }

    .services__wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
    }

    .services__h2 {
        display: flex;
        height: 56px;
        padding-left: 32px;
        background: linear-gradient(270deg, #F8F8F8, #FFFFFF 100%);
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        font-family: "TTLakes";
        color: var(--text-nav);
    }




    .services__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
        width: 100%;
        height: 160px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        box-sizing: border-box;
        transition: all 0.3s ease;
    }



    .services__card_h3 {
        align-self: flex-start;
        font-family: TTLakes;
        font-size: 16px;
        font-weight: 500;
    }

    .services__card_go {
        align-self: flex-end;
        width: 18%;
    }



    /*ЦЕНЫ*/


    .prices--min {
        display: none;
    }

    .prices {
        display: block;
    }



    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead th {
        background-color: #f8f8f8;
        text-align: left;
        padding: 12px 8px;
        border: none;
        color: #7e7e82;
        font-family: "TTLakes", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0px;
        opacity: 0.72;
    }

    tbody td {
        padding: 12px 8px;
        border: none;
        text-align: left;
        color: #1b1c21;
        font-family: "TTLakes", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    tbody tr {
        background-color: #ffffff;
        border-radius: 6px;
    }

    tbody tr:not(:last-child) {
        border-bottom: 1px solid #eaeaea;
    }

    /* Создание скругленных углов для строк */
    tbody tr:first-child td:first-child {
        border-top-left-radius: 6px;
    }

    tbody tr:first-child td:last-child {
        border-top-right-radius: 6px;
    }

    tbody tr:last-child td:first-child {
        border-bottom-left-radius: 6px;
    }

    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 6px;
    }

    .prices__footer {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    footer {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer__l {
        text-align: left;
    }

    .footer__r {
        text-align: right;
    }
}

@media (max-width: 1119px) {
    .brands__item:nth-child(n+7) {
        display: none;
        opacity: 0;
        transform: scale(0.95);
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        pointer-events: none;

    }
}


@media (min-width: 1120px) {
    .main__readmore{
        display: none;
    }
    .header,
    .main__title--min {
        display: none;
    }

    .conteiner {
        display: grid;
        grid-template-columns: minmax(0, 320px) calc(100% - 320px);

        height: 100vh;

    }

    #burgerOff {
        display: none;
    }

    .aside__burger-menu {
        display: block;
        min-width: 320px;
    }

    .aside__burger-menu {
        display: flex;
        flex-direction: column;
        gap: var(--gap-footer);
        width: var(--size-menu-width);
        height: var(--size-menu-height);
        z-index: 10;
        background-color: var(--color-white);
        width: 320px;
        padding: 0 var(--gap-xlarge);

    }

    .main {

        gap: 24px;
    }

    .main__content {
        gap: 24px;
        padding-left: 32px;
    }

    .main__container {
        gap: 36px;
    }

    .srange-nav-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        padding: 0 16px;
    }

    .srange-nav-wrapper-list {
        display: flex;
        gap: 20px;
    }

    .srange-nav-wrapper--max {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-right: 20px;

    }

    .srange-nav-wrapper--max span {
        display: inline;
        color: var(--mine-text);
        margin-right: 8px;
        font-family: 'TTLakes';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: right;
    }




    .main__text--secondary {
        white-space: normal;
        overflow: visible;
    }

    .header-menu__wrapper::after {
        display: none;
    }

    /*БРЕНДЫ*/

    .brands__wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .brands--min {
        display: none;
    }

    .brands--max {
        display: block;

    }

    .brands--midl {
        display: none;
    }



    .brands__h2 {

        height: 56px;
        padding-left: 32px;






    }

    .brands__container,
    .brands__container--bottom--max {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        row-gap: 16px;
        column-gap: 35px;
        margin: 0;
        width: 100%;

        box-sizing: border-box;


    }


    .brands__item {
        min-width: 95%;
        height: 95%;
    }


    .brands__card {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;

        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        box-sizing: border-box;
        transition: all 0.3s ease;
        padding: 0 15px;
    }



    .brands__card img:first-child {
        max-height: 35px;
        max-width: 90px;
        object-fit: contain;

    }

    .colum-4 {
        display: inline;
    }

    .colum-non {
        visibility: hidden;
    }

    /*РЕМОНТ РАЗЛИЧНЫХ ВИДОВ ТЕХНИКИ*/
    .services__h2 {
        display: flex;
        height: 56px;
        padding-left: 32px;
        background: linear-gradient(270deg, #F8F8F8, #FFFFFF 100%);
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        font-family: "TTLakes";
        color: var(--text-nav);
    }

    .services--midl {
        display: none;
    }

    .services--min {
        display: none;
    }

    .services--max {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .services__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);


        column-gap: 35px;

    }

    .services__item {
        min-width: 95%;
        height: 95%;
    }

    .services__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
        width: 100%;
        height: 160px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        box-sizing: border-box;
        transition: all 0.3s ease;
    }



    .services__card_h3 {
        align-self: flex-start;
        font-family: TTLakes;
        font-size: 16px;
        font-weight: 500;
    }

    .services__card_go {
        align-self: flex-end;
        width: 18%;
    }

}

@media (max-width: 767px) {
    .main__image {
        border-radius: 0;
    }


}

/*# sourceMappingURL=main.5d800ae6237302da411b.css.map*/